<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Kelas Platform Engineer!!!</title>
</head>
<body>
Hi all, this is <span th:text="${myName}">Student_Name</span> trying to lear deployment apps

<footer>
    Copyright @ <span th:text="${thisYear}"></span>
</footer>
</body>
</html>